| ---
| name: Primary Greys
| hidecode: true
| ---
ul.palette.tp
	li
		h3 Nova Grey
		.color(style='background-color: #999;')
			span #999
		p colour-mod-6
	li
		h3 Nova Grey Tint 1
		.color(style='background-color: #d0d3d4;')
			span #d0d3d4
		p colour-mod-7
	li
		h3 Nova Grey Tint 2
		.color(style='background-color: #d9dbdc;')
			span #d9dbdc
		p colour-mod-8
	li
		h3 Nova Grey Tint 3 
		.color(style='background-color: #e2e4e5;')
			span #e2e4e5
		p colour-mod-9
	li
		h3 Nova Grey Tint 4
		.color(style='background-color: #eceded;')
			span #eceded
		p colour-mod-10
	li
		h3 Nova Grey Tint 5
		.color(style='background-color: #f5f6f6;')
			span #f5f6f6
		p colour-mod-11
	li
		h3 Nova Dark Grey
		.color(style='background-color: #2a2a2a;')
			span #2a2a2a
		p colour-mod-12