| ---
| name: Secondary Colours
| hidecode: true
| ---
ul.palette.tp
	li
		h3 Nova Orange
		.color(style='background-color: #ff6600;')
			span #ff6600
		p colour-mod-1
	li
		h3 Nova Green
		.color(style='background-color: #6ca007;')
			span #6ca007
		p colour-mod-2
			li
		h3 Nova Purple
		.color(style='background-color: #7c1d4f;')
			span #7c1d4f
		p colour-mod-3
			li
		h3 Nova Blue
		.color(style='background-color: #0088cc;')
			span #0088cc
		p colour-mod-4
	li
		h3 Nova Error Red
		.color(style='background-color: #f90000;')
			span #f90000
		p colour-mod-5