| ---
| name: Tint Modifiers
| hidecode: true
| description: |
|     ### Lighten
|     this pushes colours towards white
|     ### Darken
|     this pushes colours towards black
|     ### Transparency
|     simple transparency
|     ### Mix
|     use mix where the colour needs to be as percentage of original on white
| ---
h5 lighten(color, amount)
ul.palette.tint.tp
	li
		h3 Nova Orange
		.color(style='background-color: #ff6600;')
			span No modifier
		.color(style='background-color: #ff8533;')
			span 10%
		.color(style='background-color: #ffa366;')
			span 20%
		.color(style='background-color: #ffc299;')
			span 30%
		.color(style='background-color: #ffe0cc;')
			span 40%
		.color(style='background-color: #fff;')
			span 50%
		.color(style='background-color: #fff;')
			span 60%
		.color(style='background-color: #fff;')
			span 70%
		.color(style='background-color: #fff;')
			span 80%
		.color(style='background-color: #fff;')
			span 90%

	li
		h3 Nova Green
		.color(style='background-color: #6ca007;')
			span No modifier
		.color(style='background-color: #8dd109;')
			span 10%
		.color(style='background-color: #aaf518;')
			span 20%
		.color(style='background-color: #bcf749;')
			span 30%
		.color(style='background-color: #cef97a;')
			span 40%
		.color(style='background-color: #e0fbab;')
			span 50%
		.color(style='background-color: #f2fddc;')
			span 60%
		.color(style='background-color: #fff;')
			span 70%
		.color(style='background-color: #fff;')
			span 80%
		.color(style='background-color: #fff;')
			span 90%
			
	li
		h3 Nova Purple
		.color(style='background-color: #7c1d4f;')
			span No modifier
		.color(style='background-color: #a52769;')
			span 10%
		.color(style='background-color: #cf3084;')
			span 20%
		.color(style='background-color: #d85a9c;')
			span 30%
		.color(style='background-color: #e283b5;')
			span 40%
		.color(style='background-color: #ecacce;')
			span 50%
		.color(style='background-color: #f5d6e6;')
			span 60%
		.color(style='background-color: #fff;')
			span 70%
		.color(style='background-color: #fff;')
			span 80%
		.color(style='background-color: #fff;')
			span 90%

	li
		h3 Nova Blue 
		.color(style='background-color: #0088cc;')
			span No modifier
		.color(style='background-color: #00aaff;')
			span 10%
		.color(style='background-color: #33bbff;')
			span 20%
		.color(style='background-color: #66ccff;')
			span 30%
		.color(style='background-color: #99ddff;')
			span 40%
		.color(style='background-color: #cceeff;')
			span 50%
		.color(style='background-color: #fff;')
			span 60%
		.color(style='background-color: #fff;')
			span 70%
		.color(style='background-color: #fff;')
			span 80%
		.color(style='background-color: #fff;')
			span 90%

	li
		h3 Nova Error Red
		.color(style='background-color: #f90000;')
			span No modifier
		.color(style='background-color: #ff2d2d;')
			span 10%
		.color(style='background-color: #ff6060;')
			span 20%
		.color(style='background-color: #ff9393;')
			span 30%
		.color(style='background-color: #ffc6c6;')
			span 40%
		.color(style='background-color: #fff9f9;')
			span 50%
		.color(style='background-color: #fff;')
			span 60%
		.color(style='background-color: #fff;')
			span 70%
		.color(style='background-color: #fff;')
			span 80%
		.color(style='background-color: #fff;')
			span 90%
|  &nbsp;
h5 darken(color, amount)
ul.palette.tint.tp
	li
		h3 Nova Orange
		.color(style='background-color: #ff6600;')
			span No modifier
		.color(style='background-color: #cc5200;')
			span 10%
		.color(style='background-color: #993d00;')
			span 20%
		.color(style='background-color: #662900;')
			span 30%
		.color(style='background-color: #331400;')
			span 40%
		.color(style='background-color: #000000;')
			span 50%
		.color(style='background-color: #000000;')
			span 60%
		.color(style='background-color: #000000;')
			span 70%
		.color(style='background-color: #000000;')
			span 80%
		.color(style='background-color: #000000;')
			span 90%
	li
		h3 Nova Green
		.color(style='background-color: #6ca007;')
			span No modifier
		.color(style='background-color: #4b6f05;')
			span 10%
		.color(style='background-color: #2a3e03;')
			span 20%
		.color(style='background-color: #090d01;')
			span 30%
		.color(style='background-color: #000000;')
			span 40%
		.color(style='background-color: #000000;')
			span 50%
		.color(style='background-color: #000000;')
			span 60%
		.color(style='background-color: #000000;')
			span 70%
		.color(style='background-color: #000000;')
			span 80%
		.color(style='background-color: #000000;')
			span 90%
	li
		h3 Nova Purple
		.color(style='background-color: #7c1d4f;')
			span No modifier
		.color(style='background-color: #531335;')
			span 10%
		.color(style='background-color: #290a1a;')
			span 20%
		.color(style='background-color: #000000;')
			span 30%
		.color(style='background-color: #000000;')
			span 40%
		.color(style='background-color: #000000;')
			span 50%
		.color(style='background-color: #000000;')
			span 60%
		.color(style='background-color: #000000;')
			span 70%
		.color(style='background-color: #000000;')
			span 80%
		.color(style='background-color: #000000;')
			span 90%
	li
		h3 Nova Blue 
		.color(style='background-color: #0088cc;')
			span No modifier
		.color(style='background-color: #006699;')
			span 10%
		.color(style='background-color: #004466;')
			span 20%
		.color(style='background-color: #002233;')
			span 30%
		.color(style='background-color: #000000;')
			span 40%
		.color(style='background-color: #000000;')
			span 50%
		.color(style='background-color: #000000;')
			span 60%
		.color(style='background-color: #000000;')
			span 70%
		.color(style='background-color: #000000;')
			span 80%
		.color(style='background-color: #000000;')
			span 90%
	li
		h3 Nova Error Red
		.color(style='background-color: #ff2d2d;')
			span No modifier
		.color(style='background-color: #c60000;')
			span 10%
		.color(style='background-color: #930000;')
			span 20%
		.color(style='background-color: #600000;')
			span 30%
		.color(style='background-color: #2d0000;')
			span 40%
		.color(style='background-color: #000000;')
			span 50%
		.color(style='background-color: #000000;')
			span 60%
		.color(style='background-color: #000000;')
			span 70%
		.color(style='background-color: #000000;')
			span 80%
		.color(style='background-color: #000000;')
			span 90%
|  &nbsp;
h5 transparency(color, amount)
ul.palette.tint.tp
	li
		h3 Nova Orange
		.color(style='background-color: #ff6600;')
			span No modifier
		.color(style='background-color: rgba(255, 102, 0, 0.9);')
			span 10%
		.color(style='background-color: rgba(255, 102, 0, 0.8);')
			span 20%
		.color(style='background-color: rgba(255, 102, 0, 0.7);')
			span 30%
		.color(style='background-color: rgba(255, 102, 0, 0.6);')
			span 40%
		.color(style='background-color: rgba(255, 102, 0, 0.5);')
			span 50%
		.color(style='background-color: rgba(255, 102, 0, 0.4);')
			span 60%
		.color(style='background-color: rgba(255, 102, 0, 0.3);')
			span 70%
		.color(style='background-color: rgba(255, 102, 0, 0.2);')
			span 80%
		.color(style='background-color: rgba(255, 102, 0, 0.1);')
			span 90%
	li
		h3 Nova Green
		.color(style='background-color: #6ca007;')
			span No modifier
		.color(style='background-color: rgba(108, 160, 7, 0.9);')
			span 10%
		.color(style='background-color: rgba(108, 160, 7, 0.8);')
			span 20%
		.color(style='background-color: rgba(108, 160, 7, 0.7);')
			span 30%
		.color(style='background-color: rgba(108, 160, 7, 0.6);')
			span 40%
		.color(style='background-color: rgba(108, 160, 7, 0.5);')
			span 50%
		.color(style='background-color: rgba(108, 160, 7, 0.4);')
			span 60%
		.color(style='background-color: rgba(108, 160, 7, 0.3);')
			span 70%
		.color(style='background-color: rgba(108, 160, 7, 0.2);')
			span 80%
		.color(style='background-color: rgba(108, 160, 7, 0.1);')
			span 90%
	li
		h3 Nova Purple
		.color(style='background-color: #7c1d4f;')
			span No modifier
		.color(style='background-color: rgba(124, 29, 79, 0.9);')
			span 10%
		.color(style='background-color: rgba(124, 29, 79, 0.8);')
			span 20%
		.color(style='background-color: rgba(124, 29, 79, 0.7);')
			span 30%
		.color(style='background-color: rgba(124, 29, 79, 0.6);')
			span 40%
		.color(style='background-color: rgba(124, 29, 79, 0.5);')
			span 50%
		.color(style='background-color: rgba(124, 29, 79, 0.4);')
			span 60%
		.color(style='background-color: rgba(124, 29, 79, 0.3);')
			span 70%
		.color(style='background-color: rgba(124, 29, 79, 0.2);')
			span 80%
		.color(style='background-color: rgba(124, 29, 79, 0.1);')
			span 90%
	li
		h3 Nova Blue 
		.color(style='background-color: #0088cc;')
			span No modifier
		.color(style='background-color: rgba(0, 136, 204, 0.9);')
			span 10%
		.color(style='background-color: rgba(0, 136, 204, 0.8);')
			span 20%
		.color(style='background-color: rgba(0, 136, 204, 0.7);')
			span 30%
		.color(style='background-color: rgba(0, 136, 204, 0.6);')
			span 40%
		.color(style='background-color: rgba(0, 136, 204, 0.5);')
			span 50%
		.color(style='background-color: rgba(0, 136, 204, 0.4);')
			span 60%
		.color(style='background-color: rgba(0, 136, 204, 0.3);')
			span 70%
		.color(style='background-color: rgba(0, 136, 204, 0.2);')
			span 80%
		.color(style='background-color: rgba(0, 136, 204, 0.1);')
			span 90%
	li
		h3 Nova Error Red
		.color(style='background-color: #ff2d2d;')
			span No modifier
		.color(style='background-color: rgba(249, 0, 0, 0.9);')
			span 10%
		.color(style='background-color: rgba(249, 0, 0, 0.8);')
			span 20%
		.color(style='background-color: rgba(249, 0, 0, 0.7);')
			span 30%
		.color(style='background-color: rgba(249, 0, 0, 0.6);')
			span 40%
		.color(style='background-color: rgba(249, 0, 0, 0.5);')
			span 50%
		.color(style='background-color: rgba(249, 0, 0, 0.4);')
			span 60%
		.color(style='background-color: rgba(249, 0, 0, 0.3);')
			span 70%
		.color(style='background-color: rgba(249, 0, 0, 0.2);')
			span 80%
		.color(style='background-color: rgba(249, 0, 0, 0.1);')
			span 90%
|  &nbsp;
h5 mix(white, color, percentage of white)
ul.palette.tint.tp
	li
		h3 Nova Orange
		.color(style='background-color: #ff6600;')
			span No modifier
		.color(style='background-color: #ff7519;')
			span 10%
		.color(style='background-color: #ff8433;')
			span 20%
		.color(style='background-color: #ff934c;')
			span 30%
		.color(style='background-color: #ffa366;')
			span 40%
		.color(style='background-color: #ffb27f;')
			span 50%
		.color(style='background-color: #ffc199;')
			span 60%
		.color(style='background-color: #ffd1b2;')
			span 70%
		.color(style='background-color: #ffe0cc;')
			span 80%
		.color(style='background-color: #ffefe5;')
			span 90%
	li
		h3 Nova Green
		.color(style='background-color: #6ca007;')
			span No modifier
		.color(style='background-color: #7aa91f;')
			span 10%
		.color(style='background-color: #89b338;')
			span 20%
		.color(style='background-color: #98bc51;')
			span 30%
		.color(style='background-color: #a6c66a;')
			span 40%
		.color(style='background-color: #b5cf83;')
			span 50%
		.color(style='background-color: #c4d99b;')
			span 60%
		.color(style='background-color: #d2e2b4;')
			span 70%
		.color(style='background-color: #e1eccd;')
			span 80%
		.color(style='background-color: #f0f5e6;')
			span 90%
	li
		h3 Nova Purple
		.color(style='background-color: #7c1d4f;')
			span No modifier
		.color(style='background-color: #893360;')
			span 10%
		.color(style='background-color: #964a72;')
			span 20%
		.color(style='background-color: #a36083;')
			span 30%
		.color(style='background-color: #b07795;')
			span 40%
		.color(style='background-color: #bd8ea7;')
			span 50%
		.color(style='background-color: #caa4b8;')
			span 60%
		.color(style='background-color: #d7bbca;')
			span 70%
		.color(style='background-color: #e4d1db;')
			span 80%
		.color(style='background-color: #f1e8ed;')
			span 90%
	li
		h3 Nova Blue 
		.color(style='background-color: #0088cc;')
			span No modifier
		.color(style='background-color: #1993d1;')
			span 10%
		.color(style='background-color: #339fd6;')
			span 20%
		.color(style='background-color: #4cabdb;')
			span 30%
		.color(style='background-color: #66b7e0;')
			span 40%
		.color(style='background-color: #7fc3e5;')
			span 50%
		.color(style='background-color: #99cfea;')
			span 60%
		.color(style='background-color: #b2dbef;')
			span 70%
		.color(style='background-color: #cce7f4;')
			span 80%
		.color(style='background-color: #e5f3f9;')
			span 90%
	li
		h3 Nova Error Red
		.color(style='background-color: #ff2d2d;')
			span No modifier
		.color(style='background-color: #f91919;')
			span 10%
		.color(style='background-color: #fa3333;')
			span 20%
		.color(style='background-color: #fa4c4c;')
			span 30%
		.color(style='background-color: #fb6666;')
			span 40%
		.color(style='background-color: #fc7f7f;')
			span 50%
		.color(style='background-color: #fc9999;')
			span 60%
		.color(style='background-color: #fdb2b2;')
			span 70%
		.color(style='background-color: #fdcccc;')
			span 80%
		.color(style='background-color: #fee5e5;')
			span 90%