| ---
| name: Grid desktop nested
| hidecode: true
| description: |
|    ### What
|    Demo grid using col-lg-# classes
| ---

.row.bordered-cols
	.col-lg-12 12

.row.bordered-cols
	.col-lg-8 8
		.row.bordered-cols
			.col-lg-4 4
			.col-lg-4 4
			.col-lg-4 4
		.row.bordered-cols
			.col-lg-3 3
			.col-lg-3 3
			.col-lg-3 3
			.col-lg-3 3
	.col-lg-4 4

.row.bordered-cols
	.col-lg-4 4
	.col-lg-4 4
	.col-lg-4 4

.row.bordered-cols
	.col-lg-3 3
	.col-lg-3 3
	.col-lg-3 3
	.col-lg-3 3

.row.bordered-cols
	.col-lg-6 6
	.col-lg-6 6
