| ---
| name: Grid tablet
| hidecode: true
| description: |
|    ### What
|    Demo grid using col-md-# classes
| ---
.row.bordered-cols
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1
	.col-md-1 1

.row.bordered-cols
	.col-md-12 12

.row.bordered-cols
	.col-md-8 8
	.col-md-4 4

.row.bordered-cols
	.col-md-4 4
	.col-md-4 4
	.col-md-4 4

.row.bordered-cols
	.col-md-3 3
	.col-md-3 3
	.col-md-3 3
	.col-md-3 3

.row.bordered-cols
	.col-md-6 6
	.col-md-6 6
