| ---
| name: Grid mobile nested
| hidecode: true
| description: |
|    ### What
|    Demo grid using col-xs-# classes
| ---

.row.bordered-cols
	.col-xs-12 12

.row.bordered-cols
	.col-xs-8 8
		.row.bordered-cols
			.col-xs-4 4
			.col-xs-4 4
			.col-xs-4 4
		.row.bordered-cols
			.col-xs-3 3
			.col-xs-3 3
			.col-xs-3 3
			.col-xs-3 3
	.col-xs-4 4

.row.bordered-cols
	.col-xs-4 4
	.col-xs-4 4
	.col-xs-4 4

.row.bordered-cols
	.col-xs-3 3
	.col-xs-3 3
	.col-xs-3 3
	.col-xs-3 3

.row.bordered-cols
	.col-xs-6 6
	.col-xs-6 6
