| ---
| name: Horizontal form
| ---
.row
	.col-lg-3
		label First name
	.col-lg-3
		input.text-input(type='text', placeholder='Last')
.row
	.col-lg-3
		label Last name
	.col-lg-5
		input.text-input(type='text', placeholder='Last')
.row
	.col-lg-3
		label Phone number
	.col-lg-2.col-xs-6
		input.text-input(type='text', placeholder='Ext')
	.col-lg-3.col-xs-6
		input.text-input(type='text', placeholder='Phone')
label Phone number
.row
	.col-lg-2
		input.text-input(type='text', placeholder='Extension')
	.col-lg-2
		input.text-input(type='text', placeholder='Country code')
	.col-lg-4
		input.text-input(type='text', placeholder='Phone number')
