| ---
| name: Buttons default
| description: |
|     ### What
|     baseline tag styling without classes, and with only '.btn' class
|     ### Why
|     input type='button' and button tags should ideally receive a baseline treatment to allow easy use without breaking designs
| ---
h5 no classes 
input(type='button', value='Input type button')
button(type='button') Button type button
h5 with classes
input.btn(type='button', value='Input type button')
button.btn(type='button') Button type button
a.btn(href='#') Button link
