| ---
| name: Buttons primary
| ---
//input.btn.btn--primary(type='button', value='Input type button')
//button.btn.btn--primary(type='button') Button type button
//a.btn.btn--primary(href='#') Button link
h5 Success
input.btn.btn-success(type='button', value='Input type button')
button.btn.btn-success(type='button') Button type button
a.btn.btn-success(href='#') Button link
h5 Success Disabled
input.btn.btn-success(type='button', value='Input type button', disabled='disabled')
button.btn.btn-success(type='button',disabled='disabled') Button type button
