| ---
| name: Buttons tertiary
| ---
h5 btn-tertiary
input.btn.btn-tertiary(type='button', value='Input type button')
button.btn.btn-tertiary(type='button') Button type button
a.btn.btn-tertiary(href='#') Button link
h5 btn-tertiary Disabled
input.btn.btn-tertiary(type='button', value='Input type button', disabled='disabled')
button.btn.btn-tertiary(type='button',disabled='disabled') Button type button
