| ---
| name: Buttons secondary
| ---
h5 btn-2
input.btn.btn-2(type='button', value='Input type button')
button.btn.btn-2(type='button') Button type button
a.btn.btn-2(href='#') Button link
h5 btn-2 Disabled
input.btn.btn-2(type='button', value='Input type button', disabled='disabled')
button.btn.btn-2(type='button',disabled='disabled') Button type button
