| ---
| name: Button variations
| ---
h5 Carousel buttons

h6 button
button.carousel--nav-btn(type='button')  Next
br
br
h6 input type='button'
input.carousel--nav-btn(type='button', value='Next')
br
br
h6 link
a.carousel--nav-btn(href='#') Next